@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
:root {
  --main: #6534d9;
  --dark: #31344f;
  --second: #9b7ce6;
}
body {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
  .translate {
    transform: translateX(var(--position));
  }
}

@media (max-width: 768px) {
  .translate {
    transform: translateX(var(--positionSmall));
  }
}

.iconColor {
  color: var(--color);
}

.borderColor {
  border-color: var(--color);
}

.barElement:hover .content {
  display: block;
}

.active {
  background-color: var(--main);
  border-color: var(--second);
}
